/* src/app/dashboard/dashboard.css */

    :host {
      display: block;
    }
    
    .chart-container {
      position: block;
      width: 100%;
      height: 100%;
    }
    
    /* Estilo para contenedores de gráficos */
.chart-container {
  position: relative;
  width: 100%;
  height: 300px;
}

.chart-canvas {
  width: 400px !important;
  height: 300px !important;
}

.chart-container canvas {
  width: 100% !important;
  height: 100% !important;
}
/* Tamaños específicos por tipo de gráfico */
.status-chart-container {
  width: 100%;
  height: 300px;
}

.trend-chart-container {
  width: 100%;
  height: 350px; /* Un poco más alto para la línea */
}

.agent-chart-container {
  width: 100%;
  height: 400px; /* Más alto para barras horizontales */
}

.dest-chart-container {
  width: 100%;
  height: 300px;
} 